{% extends 'base.html.twig' %}

{% block title %}TelNumber index{% endblock %}

{% block body %}
    <h1>TelNumber index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tel_number in tel_numbers %}
            <tr>
                <td>{{ tel_number.id }}</td>
                <td>{{ tel_number.number }}</td>
                <td>{{ tel_number.name }}</td>
                <td>
                    <a href="{{ path('tel_number_show', {'id': tel_number.id}) }}">show</a>
                    <a href="{{ path('tel_number_edit', {'id': tel_number.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tel_number_new') }}">Create new</a>
{% endblock %}
