{% extends 'base.html.twig' %}

{% block title %}Call index{% endblock %}
{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Note</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/tel_number">TelNumbers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/comment">Comments</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/call">Calls <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}
{% block body %}
    <h1>Call index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Made_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for call in calls %}
            <tr>
                <td>{{ call.id }}</td>
                <td>{{ call.madeAt ? call.madeAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('call_show', {'id': call.id}) }}">show</a>
                    <a href="{{ path('call_edit', {'id': call.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('call_new') }}">Create new</a>
{% endblock %}
